.authentication {
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: lightblue;
    font-size: 62.5%;
}
.auth-left {
    background-color: lightslategray;
}
.auth-right {
    background: lightseagreen;
}